extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", class="img-fluid" alt="Imagen de nosotros")
            .col-md-7
                h1 #{pagina}
                blockquote ipsum dolor sit amet consectetur adipisicing elit Laborum dolor facere mollitia doloribus quas sed assumenda dolorum, ad nemo sunt qui inventore tempore ab, reprehenderit dicta laudantium eos ipsum nihil
                p Laborum dolor facere mollitia doloribus quas sed assumenda dolorum, ad nemo sunt qui inventore tempore ab, reprehenderit dicta laudantium eos ipsum nihil. Laborum dolor facere mollitia doloribus quas sed assumenda dolorum, ad nemo sunt qui inventore tempore ab, reprehenderit dicta laudantium eos ipsum nihil
                p ipsum dolor sit amet consectetur adipisicing elit. Laborum dolor facere mollitia doloribus quas sed assumenda dolorum, ad nemo sunt qui inventore tempore ab, reprehenderit dicta laudantium eos ipsum nihil.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4" alt="")
                    h2.mb-4 Seguridad
                    p ipsum dolor sit amet consectetur adipisicing elit. Laborum dolor facere mollitia doloribus quas sed assumenda dolorum, ad nemo.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4" alt="")
                    h2.mb-4 Destinos
                    p ipsum dolor sit amet consectetur adipisicing elit. Laborum dolor facere mollitia doloribus quas sed assumenda dolorum, ad nemo.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4" alt="")
                    h2.mb-4 Precios
                    p ipsum dolor sit amet consectetur adipisicing elit. Laborum dolor facere mollitia doloribus quas sed assumenda dolorum, ad nemo.